[submodule "files-to-deploy/scripts/external-scripts"]
	path = files-to-deploy/scripts/external-scripts
	url = https://github.com/saponace/misc-scripts.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:saponace/dotfiles.git
