# General
    username="saponace"
    hostname="raclette"

# Disks
    boot_partition="/dev/sda1"
    swap_partition="/dev/sda2"
    root_partition="/dev/sda3"

# Encryption
    root_encryption_options="--cipher aes-xts-plain64 --key-size 512 --hash sha512 --iter-time 5000"

# Locale stuff
    keymap="fr-latin9"
    x11_keymap="fr pc105 latin9 terminate:ctrl_alt_bksp"
    locale_zone_path="/usr/share/zoneinfo/Europe/Paris"
    locales_to_enable="fr_FR.UTF-8 UTF-8\nfr_FR ISO-8859-1\nfr_FR@euro ISO-8859-15\nen_US.UTF-8 UTF-8\nen_US ISO-8859-1"
