@import "common"

listview {
    columns:                        1;
    lines:                          6;
}

element {
    orientation:                    horizontal;
    padding:                        1% 0% 1% 0%;
}

element-icon {
    size:                           32px;
}
